#container {
    width: 100%;
    height: 100%;
  }
  
#panel {
    width: 320px;
    height: 240px;
    border-radius: 10px;
    background-color:white;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000; 
}